/* 本文・見出しなど汎用テキスト用 --------------- */
body, table, div, p, dl, li, td, th, h1, h2, h3, h4, h5, h6  {
    font-family: "Meiryo UI", "メイリオ", "Segoe UI", sans-serif;
}

/* ソースコード／シグネチャ用 ---------------------- */
div.fragment, div.line, pre.fragment, code, kbd, samp, tt {
    font-family: "Consolas", "Courier New", monospace;
    font-size: 1.0em;
    line-height: 1.4;
}
